@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --primary: #066586;
    --bbgc: #fff2ef;

    font-family: "Inter" sans-serif;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: var(--bbgc);
}

.card {
    background-color: #fff;
    display: flex;
    width: 400px;
    gap: 1rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    flex: 1.2;
    padding: 1.3rem;
}

.left h2 {
    font-size: 17px;
}

.card p {
    font-size: 12px;
    color: #555;
}

.fpwd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fpwd p {
    font-size: 14px;
    color: var(--primary);
}

.fpwd button {
    display: flex;
    padding: 2px 5px;
    gap: 0.5rem;
    border: none;
    background-color: var(--primary);

}

.fpwd button:hover {
    cursor: pointer;
}

.fpwd button p {
    font-size: 11px;
    font-weight: 400;
    color: #fff;
}

#or {
    align-self: center;
    font-size: 10px;
    opacity: 60%;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

.socials>button {
    display: flex;
    gap: 0.5rem;
    padding: 3px 5px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #000;

}

.socials>button:hover {
    cursor: pointer;
    background-color: #555;
    opacity: 100%;
}

.socials>button p {
    font-size: 12px;
}

span {
    color: var(--primary);
    text-decoration: underline;
}

input {
    font-size: 11px;
    padding: 4px 8px;
}

.right {
    width: 100px;
    flex: 1;
}

.right img {
    width: 100%;
    height: 100%;
}